In [ ]:
USE DATABASE SNOWFLAKE_SAMPLE_DATA;
USE SCHEMA TPCH_SF1;

In [ ]:
Select * from orders limit 2;

In [ ]:
SELECT 
    O_CUSTKEY        
    ,O_ORDERSTATUS
    ,O_ORDERPRIORITY
    ,SUM(O_TOTALPRICE) as PRICE
FROM ORDERS 
GROUP BY O_CUSTKEY, O_ORDERSTATUS, O_ORDERPRIORITY
ORDER BY PRICE DESC
limit 2;

In [ ]:
SELECT 
    O_CUSTKEY        
    ,O_ORDERSTATUS
    , O_ORDERPRIORITY
    ,SUM(O_TOTALPRICE) as PRICE
FROM ORDERS 
GROUP BY ALL
ORDER BY PRICE DESC
limit 2;

In [ ]:
-- Problem: Need for defining Subquery or CTE to filter out subset of window function.
WITH CTE_ORDERS AS (
SELECT 
    O_CUSTKEY
    , O_TOTALPRICE
    ,RANK() OVER (PARTITION BY O_CUSTKEY ORDER BY O_TOTALPRICE DESC) as top_customer_order
FROM ORDERS 
)
SELECT *
FROM CTE_ORDERS
where top_customer_order = 1
limit 3;

In [ ]:
-- Problem: Need to define Subquery or CTE to filter out subset of window function.
SELECT 
    O_CUSTKEY
    , O_TOTALPRICE
    ,RANK() OVER (PARTITION BY O_CUSTKEY ORDER BY O_TOTALPRICE DESC) as top_customer_order
FROM ORDERS 
QUALIFY top_customer_order = 1
limit 3;
-- Use ORDER BY with LIMIT for deterministic results

In [ ]:
-- Problem: Find different patterns for the same column.
SELECT * 
FROM CUSTOMER
WHERE C_PHONE LIKE ('%678%') OR C_PHONE LIKE ('%172%')
LIMIT 2;

In [ ]:
SELECT * 
FROM CUSTOMER
WHERE C_PHONE LIKE ANY ('%678%', '%172%') 
LIMIT 2;

In [ ]:
-- Problem: Use UPPER or LOWER to compare strings.
SELECT * 
FROM CUSTOMER
WHERE UPPER(C_MKTSEGMENT) LIKE UPPER('HOUSE%')
LIMIT 2;

In [ ]:
SELECT * 
FROM CUSTOMER
WHERE C_MKTSEGMENT ILIKE 'HOUSE%'
LIMIT 2;

In [ ]:
-- Problem: Different functions between SQL dialects
SELECT NVL(NULL, 'NVL'), IFNULL(NULL, 'IFNULL');

In [ ]:
SELECT CAST(123 as varchar), TO_VARCHAR(123), 123::varchar;

In [ ]:
-- Problem: Compare values, when NULL can appear
SELECT 1=1, 1=2, 1=NULL;

In [ ]:
SELECT EQUAL_NULL(1,1), EQUAL_NULL(1,2), EQUAL_NULL(1,NULL);

In [ ]:
-- Problem: Translating characters between different languages
SELECT REPLACE(REPLACE(REPLACE('XWHAT A NIYCE STRZING!', 'XW'), 'Y'), 'Z');

In [ ]:
SELECT TRANSLATE('XWHAT A NIYCE STRZING!', 'XYZ', '');

In [ ]:
SELECT TRANSLATE('Me acosté a las dos de la mañana', 'éñ', 'en');

In [ ]:
SELECT
    COUNT(CASE WHEN C_NATIONKEY = 14 THEN 0 END) as count_field_14
    ,COUNT(CASE WHEN C_NATIONKEY = 15 THEN 0 END) as count_field_15
    ,COUNT(CASE WHEN C_NATIONKEY = 16 THEN 0 END) as count_field_16
FROM CUSTOMER
limit 3;

In [ ]:
SELECT
    COUNT_IF(C_NATIONKEY = 14) as count_field
    ,COUNT_IF(C_NATIONKEY = 15) as count_field
    ,COUNT_IF(C_NATIONKEY = 16) as count_field
FROM CUSTOMER
limit 3;